In [46]:
import MySQLdb
# print(dir(MySQLdb))
# print(help(MySQLdb.connect))

conn = MySQLdb.connect(host='localhost', database='test1', user='root', password='services')
cursor = conn.cursor()
str = "select * from emp"
cursor.execute(str)
# print(dir(cursor))
# print(help(cursor.fetchmany))

rows = cursor.fetchall()
# print(rows)

print("Eid\tEname" + "\n" + "-"*14)
for row in rows:
    print("{}{:^14}".format(row[0], row[1]))
cursor.close()
conn.close()

Eid	Ename
--------------
1001    rahul
1002     raj
1003   aggrawal